
*.exe
*.config
*.pdb
*.cache
*.txt
*.resources
Filled Julia Set/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.cache
Filled Julia Set/obj/Debug/Filled Julia Set.csprojAssemblyReference.cache
.vs/THE MANDELBROT & FILLED JULIA SET/v16/.suo
*.cache
*.cache
*.cache
.vs/slnx.sqlite
.vs/THE MANDELBROT & FILLED JULIA SET/v16/.suo
Filled Julia Set/.vs/Filled Julia Set/v16/.suo
Filled Julia Set/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Filled Julia Set/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mandelbrot set/.vs/Mandelbrot set/v16/.suo
Mandelbrot set/bin/Debug/Mandelbrot set.exe
Mandelbrot set/bin/Debug/Mandelbrot set.pdb
Mandelbrot set/Form1.Designer.cs
Mandelbrot set/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mandelbrot set/obj/Debug/Mandelbrot set.csproj.GenerateResource.cache
Mandelbrot set/obj/Debug/Mandelbrot set.exe
Mandelbrot set/obj/Debug/Mandelbrot set.pdb
